body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

p {
    text-align: left;
    padding: 0 20px;
}


header, footer {
    background: #ccc;
    padding: 5px;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    padding: 14px 0 100px 14px;
}


@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}