.sticky-content {
    position: sticky;
    top: 0;
    /*z-index: 10;*/
    background-color: #ffe4c4;
    color: #FFFFFF;
    padding: 3rem 20px;
}
.sticky-content-title {
    margin: 0;
    color: #292f36;
}

.top-container {
    background-color: #04AA6D;
    height: 50px;
}

.wrapper {
    height: 800px;
    /*background-color: yellow;*/
    background: linear-gradient(180deg, rgba(255,255,0,1) 0%, rgba(255,140,0,1) 100%);
}
.placeholder-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 20px;
}



footer {
    position: sticky;
    bottom: 0;
    background-color: #333333;
    color: #dcf1a0;
}